:root {
  --main: #16222a;
  --secondary: #3a6073;
  --lightGrey: #e1e1e1;
  --paleGrey: #bbbbbb;
}

body {
  font-family: "Raleway", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: var(--main);
  border-radius: 12px 12px 0 0;
  padding: 0 20px;
}

.fancy {
  background-color: var(--secondary);
  width: 180px;
  height: 8px;
  border: none;
  border-radius: 20px;
  margin: 12px auto;
}

.divider {
  width: 100%;
  height: 1px;
  border-radius: 12px;
  border: none;
  margin: 20px 0;
}


.no-res{
  text-align: center;
}

.no-res-wrapper{
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-res-img{
  width: 440px;
  margin: auto;
}

@media (max-width: 768px) {
}

@media (max-width: 430px) {
  .fancy {
    width: 120px;
  }

  .result{
    font-size: 24px;
    font-weight: 600;
  }

  .no-res-wrapper{
    height: 51vh;
  }

  .no-res-img{
    width: 280px;
  }
  
}
